.signup {
  margin-right: 5px;
  padding: 5px;
}

.login {
  margin-right: 10px;
  padding: 5px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 0 0 10px 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

li a:hover:not(.active) {
  background-color: #111;
}

.active:hover {
  background-color: rgb(2, 136, 32);
}

.active {
  background-color: #4CAF50;
}
